.todoCardList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  padding: 4px;
}

.todoCard {
  display: flex;
}

.todoContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 80%;
}

.todoTitle {
  font-size: 16px;
  font-weight: bold;
}

.todoText {
  font-size: 14px;
}

.todoButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}